<%- include("head.ejs") -%>



    <div class="header box">
<h1> <%= theDay %> </h1>
</div>

   <form action="/delete" method="POST">  
<div class="box"  id ="pending-tasks">
        <% newdeals.forEach( deal => { %>
        <div class="item">
            <input type="checkbox" name="checkbox" value="<%= deal._id %>" OnChange="this.form.submit()">
            <p><%= deal.name %></p>
        </div>
       <% });  %>

    <input type="hidden" name="list" value = "<%= theDay %>"></input>
    
      </form> 
          <form autocomplete="off" class="new-item box" action='/' method="POST">
        <input type="text" name="newDeal" placeholder="New Deal For Today">
        <button class="button" name="btn" type="submit" value= "<%= theDay %>" >+</button>
    </form>
    </div>


<%- include("footer.ejs") -%>